    {% extends 'app/base.html' %}

    {% block content %}


    <h1>Transactions</h1>

    <div class="">
        <form id="select-date" class="form-inline" role="form">
            <div class="form-group">
                <!-- <input class="form-control" type="text" id="year" placeholder="2017" value="2017"> -->

                <select class="form-control" name="year" id="year">
                    {% for yearItem in selectYears %}
                        <option value={{yearItem}}>{{yearItem}}</option>
                    {% endfor %}
                </select>

            </div>
            <div class="form-group">
                <select class="form-control" name="month" id="month">
                    <option value="1">Январь</option>
                    <option value="2">Февраль</option>
                    <option value="3">Март</option>
                    <option value="4">Апрель</option>
                    <option value="5">Май</option>
                    <option value="6">Июнь</option>
                    <option value="7">Июль</option>
                    <option value="8">Август</option>
                    <option value="9">Сентябрь</option>
                    <option value="10">Октярь</option>
                    <option value="11">Ноябрь</option>
                    <option value="12">Декабрь</option>
                </select>
            </div>
            <div class="form-group">
                <a id="date-link" class="btn btn-default" href="/transactions/?date=5.2017" link="/transactions/?date=">Показать</a>
            </div>
        </form>
    </div>

    <ul class="nav nav-tabs">
        <li class="active"><a href="#transaction-list">Transactions list</a></li>
        <li><a href="#accounts-list">Account status list</a></li>
        <li><a href="#add-new-transaction">Add new transaction</a></li>
    </ul>

    <div class="tab-content">

        <div id="transaction-list" class="tab-pane active table-responsive">
            <table class="table accounts">
                <thead>
                    <tr>
                        <td><span>Date</span></td>
                        <td><span>Type</span></td>
                        <td><span>Sum</span></td>
                        <td><span>Subject</span></td>
                        <td><span>Account</span></td>
                        <td><span>Description</span></td>
                        <td><span>Action</span></td>
                    </tr>
                </thead>
                <tbody>
                    {% for transaction in transactions %}
                        <tr>
                            <td><span>{{ transaction.transaction_date }}</span></td>
                            <td><span>{{transaction.type}}</span></td>
                            <td><span>{{transaction.sum}} rub</span></td>
                            <td><span>{{transaction.subject}}</span></td>
                            <td><span>{{transaction.account}}</span></td>
                            <td><span>{{transaction.title}}</span></td>
                            <td>
                                <a class="btn btn-default" href="{% url 'transaction_edit' pk=transaction.pk %}">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </a>
                                <a class="btn btn-danger" href="{% url 'transaction_remove' pk=transaction.pk %}">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div id="add-new-transaction" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 tab-pane">
            <form method="POST"  class="form-horizontal post-form" role="form">{% csrf_token %}
                <fieldset class="row">
                    {% for field in form %}
                        {% if field.errors %}
                            <div class="form-group error">
                                <label class="control-label">{{ field.label }}</label>
                                <div class="controls">{{ field }}
                                    <span class="help-inline">
                                        {% for error in  field.errors %}{{ error }}{% endfor %}
                                    </span>
                                </div>
                            </div>
                        {% else %}
                            {% if forloop.counter|divisibleby:"2" %}{% else %}
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            {% endif %}
                                <label class="control-label">{{ field.label }}</label>
                                <div class="controls">{{ field }}
                                    {% if field.help_text %}
                                        <p class="help-inline"><small>{{ field.help_text }}</small></p>
                                    {% endif %}
                                </div>
                            {% if forloop.counter|divisibleby:"2" %}
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </fieldset>
                <div class="form-group">
                    <button type="submit" class="save btn btn-default">Save</button>
                </div>
            </form>
        </div>

        <div id="accounts-list" class="tab-pane table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <td>Account name</td>
                        <td>Total sum</td>
                    </tr>
                </thead>
                <tbody>
                    {% for key,val in accounts.items %}
                        <tr>
                            <td><span>{{ val.name  }}</span></td>
                            <td><span>{{ val.sum }}</span></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>

    {% endblock content %}